x86_64-slc6-gcc49-opt/*
cmt/install.x86_64-slc6-gcc49-opt.history
scripts/PatternCleaning.make
scripts/PatternCleaning.makesav
*~
.project
.cproject
python/xmlFiles/*
python/batchjobs/*
python/output/*
scripts/output/*
Make_Trends/output/*
CreateDBLayer/*.db
CreateDBLayer/MDMS_DB_RunNumber*/*
python/.__*
